<!-- templates/index.html -->
{% include 'header.html' %}

	<body>
{% include 'navbar.html' %}

		<!-- Start Hero Section -->
			<div class="hero">
				<div class="container">
					<div class="row justify-content-between">
						<div class="col-lg-5">
							<div class="intro-excerpt">
								<h1>World's #1 <span clsas="d-block">Furniture Store</span></h1>
								<p class="mb-4">We take pride in being recognized as the premier destination for high-quality furniture that transforms your living spaces.</p>
								<p><a href="{{ url_for('shop') }}" class="btn btn-secondary me-2">Shop Now</a><a href="{{ url_for('shop') }}" class="btn btn-white-outline">Explore</a></p>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="hero-img-wrap">
								 <img src="{{ url_for('static', filename='images/couch.png') }}" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		<!-- End Hero Section -->

		<!-- Start Product Section -->
		<div class="product-section">
			<div class="container">
				<div class="row">

					<!-- Start Column 1 -->
					<div class="col-md-12 col-lg-3 mb-5 mb-lg-0">
						<h2 class="mb-4 section-title">Crafted with excellent material.</h2>
						<p class="mb-4">Exceptional furniture, meticulously crafted with premium materials for timeless elegance and lasting comfort. </p>
						<p><a href="{{ url_for('shop') }}" class="btn">Explore</a></p>
					</div> 
					<!-- End Column 1 -->

					<!-- Start Column 2 -->
					{% for product in products %}
            <div class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                <a class="product-item">
                    <img src="{{ url_for('static', filename='images/' + product.image_url) }}" class="img-fluid product-thumbnail">
                    <h3 class="product-title">{{ product.name }}</h3>
                    <strong class="product-price">${{ product.price }}</strong>
                    <!-- Inside your product item block -->
					

                    <span class="icon-cross">
                    	<form method="POST" action="{{ url_for('add_to_cart') }}">
					    <input type="hidden" name="product_id" value="{{ product.id | int }}">
					    <input type="hidden" name="quantity" value="1">
                        <button type="submit"><img src="{{ url_for('static', filename='images/cross.svg') }}" class="img-fluid"></button>
                        </form>
                    </span>
                </a>
            </div>
            {% endfor %}
					<!-- End Column 2 -->

				</div>
			</div>
		</div>
		<!-- End Product Section -->

		<!-- Start Why Choose Us Section -->
		<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>Discover the essence of comfort and style with our exquisite furniture collection. Crafted with precision and care, our pieces elevate your living spaces to new heights.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/truck.svg') }}" alt="Truck Image" class="img-fluid">
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>Swift delivery to your doorstep, ensuring your furniture reaches you in pristine condition.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/bag.svg') }}" alt="Truck Image" class="img-fluid">
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>Effortless shopping experience, providing you with a wide range of furniture choices at your fingertips.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/support.svg') }}" alt="Truck Image" class="img-fluid">
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Our dedicated support team is available around the clock to assist you with any queries or concerns.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <img src="{{ url_for('static', filename='images/return.svg') }}" alt="Truck Image" class="img-fluid">
                            </div>
                            <h3>Hassle-Free Returns</h3>
                            <p>Not satisfied? Enjoy our hassle-free return process, ensuring your complete satisfaction.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="{{ url_for('static', filename='images/why-choose-us-img.jpg') }}" alt="Truck Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

		<!-- End Why Choose Us Section -->

		<!-- Start We Help Section -->
<div class="we-help-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="imgs-grid">
                    <div class="grid grid-1"><img src="{{ url_for('static', filename='images/img-grid-1.jpg') }}" alt="Image 1"></div>
                    <div class="grid grid-2"><img src="{{ url_for('static', filename='images/img-grid-2.jpg') }}" alt="Image 2"></div>
                    <div class="grid grid-3"><img src="{{ url_for('static', filename='images/img-grid-3.jpg') }}" alt="Image 3"></div>
                </div>
            </div>
            <div class="col-lg-5 ps-lg-5">
                <h2 class="section-title mb-4">Transform Your Space with Modern Interior Design</h2>
                <p>Elevate your living experience with our expertise in modern interior design. We specialize in creating spaces that blend comfort, functionality, and style seamlessly.</p>

                <ul class="list-unstyled custom-list my-4">
                    <li>Discover the latest trends</li>
                    <li>Create functional and stylish living spaces</li>
                    <li>Personalized design solutions for every room</li>
                    <li>Explore a curated collection</li>
                </ul>
                <p><a href="{{ url_for('shop') }}" class="btn">Explore</a></p>
            </div>
        </div>
    </div>
</div>
<!-- End We Help Section -->


		<!-- Start Popular Product -->
<div class="popular-product">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{{ url_for('static', filename='images/product-1.png') }}" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Nordic Chair</h3>
                        <p>Discover the perfect blend of elegance and comfort with our Nordic Chair. Crafted with premium materials for a luxurious sitting experience.</p>
                        <p><a href="{{ url_for('shop') }}">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{{ url_for('static', filename='images/product-2.png') }}" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Kruzo Aero Chair</h3>
                        <p>Experience modern design with our Kruzo Aero Chair. Sleek, aerodynamic, and built for optimal support. Elevate your space with this contemporary piece.</p>
                        <p><a href="{{ url_for('shop') }}">Read More</a></p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <div class="product-item-sm d-flex">
                    <div class="thumbnail">
                        <img src="{{ url_for('static', filename='images/product-3.png') }}" alt="Product Image" class="img-fluid">
                    </div>
                    <div class="pt-3">
                        <h3>Ergonomic Chair</h3>
                        <p>Maximize comfort and productivity with our Ergonomic Chair. Engineered for optimal support and flexibility, making it the perfect choice for your workspace.</p>
                        <p><a href="{{ url_for('shop') }}">Read More</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Popular Product -->


<!-- Start Testimonial Slider -->
<div class="testimonial-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mx-auto text-center">
                <h2 class="section-title">Customer Testimonials</h2>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="testimonial-slider-wrap text-center">

                    <div id="testimonial-nav">
                        <span class="prev" data-controls="prev"><span class="fa fa-chevron-left"></span></span>
                        <span class="next" data-controls="next"><span class="fa fa-chevron-right"></span></span>
                    </div>

                    <div class="testimonial-slider">

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Exceptional furniture and outstanding service!&rdquo;</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{{ url_for('static', filename='images/person-1.png') }}" alt="Customer 1" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">John Doe</h3>
                                            <span class="position d-block mb-3">Happy Customer</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Top-notch quality and stylish designs! The furniture exceeded my expectations.</p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{{ url_for('static', filename='images/person_2.jpg') }}" alt="Customer 2" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Jane Smith</h3>
                                            <span class="position d-block mb-3">Satisfied Shopper</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                        <div class="item">
                            <div class="row justify-content-center">
                                <div class="col-lg-8 mx-auto">

                                    <div class="testimonial-block text-center">
                                        <blockquote class="mb-5">
                                            <p>&ldquo;Outstanding customer service and a diverse range of furniture options. </p>
                                        </blockquote>

                                        <div class="author-info">
                                            <div class="author-pic">
                                                <img src="{{ url_for('static', filename='images/person_3.jpg') }}" alt="Customer 3" class="img-fluid">
                                            </div>
                                            <h3 class="font-weight-bold">Mike Johnson</h3>
                                            <span class="position d-block mb-3">Repeat Customer</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- END item -->

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Testimonial Slider -->



			<!-- Start Blog Section -->
		<div class="blog-section">
			<div class="container">
				<div class="row mb-5">
					<div class="col-md-6">
						<h2 class="section-title">Recent Blog</h2>
					</div>
					<div class="col-md-6 text-start text-md-end">
						<a href="{{ url_for('blog') }}" class="more">View All Posts</a>
					</div>
				</div>

				<div class="row">

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{{ url_for('static', filename='images/post-1.jpg') }}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{{ url_for('blog') }}">First Time Home Owner Ideas</a></h3>
								<div class="meta">
									<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="#">Dec 19, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{{ url_for('static', filename='images/post-2.jpg') }}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{{ url_for('blog') }}">How To Keep Your Furniture Clean</a></h3>
								<div class="meta">
									<span>by <a href="#">Robert Fox</a></span> <span>on <a href="#">Dec 15, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

					<div class="col-12 col-sm-6 col-md-4 mb-4 mb-md-0">
						<div class="post-entry">
							<a href="#" class="post-thumbnail"><img src="{{ url_for('static', filename='images/post-3.jpg') }}" alt="Image" class="img-fluid"></a>
							<div class="post-content-entry">
								<h3><a href="{{ url_for('blog') }}">Small Space Furniture Apartment Ideas</a></h3>
								<div class="meta">
									<span>by <a href="#">Kristin Watson</a></span> <span>on <a href="{{ url_for('blog') }}">Dec 12, 2021</a></span>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<!-- End Blog Section -->	

		<!-- Start Footer Section -->
		<footer class="footer-section">
			<div class="container relative">

				<div class="sofa-img">
					<img src="{{ url_for('static', filename='images/sofa.png') }}" alt="Image" class="img-fluid">
				</div>

				<div class="row">
					<div class="col-lg-8">
						<div class="subscription-form">
							<h3 class="d-flex align-items-center"><span class="me-1"><img src="{{ url_for('static', filename='images/envelope-outline.svg') }}" alt="Image" class="img-fluid"></span><span>Subscribe to Newsletter</span></h3>

							<form action="#" class="row g-3">
								<div class="col-auto">
									<input type="text" class="form-control" placeholder="Enter your name">
								</div>
								<div class="col-auto">
									<input type="email" class="form-control" placeholder="Enter your email">
								</div>
								<div class="col-auto">
									<button class="btn btn-primary">
										<span class="fa fa-paper-plane"></span>
									</button>
								</div>
							</form>

						</div>
					</div>
				</div>

				<div class="row g-5 mb-5">
    <div class="col-lg-4">
        <div class="mb-4 footer-logo-wrap"><a href="#" class="footer-logo">Quipo<span>.</span></a></div>
        <p class="mb-4">Discover quality furniture at YourFurnitureStore. We make it easy to turn your space into a comfortable and stylish haven. From classic to modern designs, our pieces are crafted with precision and passion.</p>
    

						<ul class="list-unstyled custom-social">
							<li><a href="#"><span class="fa fa-brands fa-facebook-f"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-twitter"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-instagram"></span></a></li>
							<li><a href="#"><span class="fa fa-brands fa-linkedin"></span></a></li>
						</ul>
					</div>

					<div class="col-lg-8">
						<div class="row links-wrap">
							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">About us</a></li>
									<li><a href="#">Services</a></li>
									<li><a href="#">Blog</a></li>
									<li><a href="#">Contact us</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Support</a></li>
									<li><a href="#">Knowledge base</a></li>
									<li><a href="#">Live chat</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Jobs</a></li>
									<li><a href="#">Our team</a></li>
									<li><a href="#">Leadership</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>

							<div class="col-6 col-sm-6 col-md-3">
								<ul class="list-unstyled">
									<li><a href="#">Nordic Chair</a></li>
									<li><a href="#">Kruzo Aero</a></li>
									<li><a href="#">Ergonomic Chair</a></li>
								</ul>
							</div>
						</div>
					</div>

				</div>

				<div class="border-top copyright">
					<div class="row pt-4">
						<div class="col-lg-6">
							<p class="mb-2 text-center text-lg-start">Copyright &copy;<script>document.write(new Date().getFullYear());</script>. All Rights Reserved. &mdash; Developed by <a href="https://www.linkedin.com/in/michael-kimulu/">Michael Kimulu</a>
            </p>
						</div>

						<div class="col-lg-6 text-center text-lg-end">
							<ul class="list-unstyled d-inline-flex ms-auto">
								<li class="me-4"><a href="#">Terms &amp; Conditions</a></li>
								<li><a href="#">Privacy Policy</a></li>
							</ul>
						</div>

					</div>
				</div>

			</div>
		</footer>
		<!-- End Footer Section -->	

<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/tiny-slider.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Function to update the cart counter via AJAX
        function updateCartCounter() {
            // Make an AJAX request to the Flask route
            fetch('/cart_count')
                .then(response => response.json())
                .then(data => {
                    // Update the cart counter
                    var counter = document.getElementById('cart-counter');
                    counter.textContent = data.count;
                })
                .catch(error => {
                    console.error('Error updating cart counter:', error);
                });
        }

        // Update the cart counter on page load
        updateCartCounter();

        // You can also call this function whenever an item is added or removed from the cart
    });
</script>



	</body>

</html>